$text: #fff;
$text_hover: #acacac;
$primary: #000000;
$header: #072d36;

* {
  margin: 0;
  padding: 0;
  color: $text;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

.vara {
  color: #fff;
  * {
    color: #fff !important;
  }
}

::-webkit-scrollbar {
  width: 10px;
  transition: 0.5s;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  padding: 0;
  background: transparent;
  &:hover {
    background: #2089a0;
  }
}

a {
  color: $text !important;
  text-decoration: none;
  transition: 0.5s;
  &:hover {
    color: $text_hover;
  }
}

.active {
  color: $text_hover;
}

body {
  background-color: #072d36;
}

.header {
  top: 0;
  width: 100%;
  height: 75px;
  z-index: 9999;
  position: sticky;
  background-color: $header;
  .container {
    padding: 0;
    height: 75px;
    .navbar {
      width: 100%;
      height: 75px;
      background-color: $header !important;
      .collapse {
        height: 75px;
        background-color: $header !important;
        .nav-menu {
          padding: 0;
          width: 100%;
          margin-top: -10px;
          display: flex !important;
          list-style: none;
          align-items: center;
          justify-content: center;
          background-color: $header !important;
          .nav-item {
            padding: 0;
            margin: 0 25px;
            margin-top: 15px;
            align-items: center;
            background-color: $header;
            a {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

.f {
  position: relative;
}

.f:hover .a-menu {
  top: 33px;
  z-index: 99999999999999;
  display: block;
}

.a-menu {
  top: -500px;
  width: 250px;
  transition: 1s;
  list-style: none;
  position: absolute;
  border-radius: 15px;
  padding: 10px 0 10px 20px;
  padding-top: 20px;
  background-color: $header;
}

.main {
  width: 100%;
  height: 100vh;
  opacity: 0.6;
  background: url("../sass/assets/IMG_2843.JPG") no-repeat;
  background-size: cover;
  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .row {
      margin: 0 !important ;
      width: fit-content;
      .col {
        text-align: center;
        h1 {
          margin: 0;
          width: 410px;
          color: #ffffff;
          opacity: 1 !important;
          z-index: 22;
          background-color: transparent !important;
        }
      }
    }
  }
}
